<center>
  <% if flash[:error] %>
    <div class="alert alert-danger" role="alert"><strong><%= flash[:error] %></strong></div>
  <% end %>
  <% if flash[:success] %>
    <div class="alert alert-success" role="alert"><strong><%= flash[:success] %></strong></div>
  <% end %>
  <h1>Automatically Send Dog Pictures to your Friends!</h1>
  <p class='lead'>You submit a phone number, message, and pay a few dollars, and we will deliever pictures of dogs to that phone number!</p>
  <ul>
    <h3><i class="fa fa-smile-o" aria-hidden="true"></i> Send dogs to your friends to make them happy!</h3>
    <h3><i class="fa fa-heart" aria-hidden="true"></i> Send dogs to your dog loving friends!</h3>
    <h3><i class="fa fa-crosshairs" aria-hidden="true"></i> Send dogs to your friends as a prank!</h3>
  </ul>
  <div class='row'>
    <div class='col-xs-6'>
      <%= form_for :sms do |f| %>
        <div class='form-group'>
          <%= f.label :phone_number %><br>
          <%= f.text_field :phone_number, {class: 'form-control', onkeypress: 'return event.charCode >= 48 && event.charCode <= 57', maxlength: 10, size: 10, placeholder: 'Phone Number (5558675309)'} %>
        </div>
        <div class='form-group'>
          <%= f.label :message %><br>
          <%= f.text_area :message, {class: 'form-control', maxlength: 1600, placeholder: 'Message to be delieved with pictures'} %>
        </div>
        <div class='form-group'>
          <%= f.label :dog_pictures, 'Select your package' %><br>
          <%= f.select :dog_pictures, [['The Pug: 3 pictures for $1.00', 3], ['The Labrador: 6 pictures for $2.00', 6], ['The Mastiff: 10 pictures for $3.00', 10]], {}, {class: 'form-control'} %>
        </div>
        <script src="https://checkout.stripe.com/checkout.js"      class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Cocoa.dog"
          data-locale="auto"></script>
      <% end %>
    </div>
    <div class='col-xs-6'>
      <%= image_tag 'example.jpg' %>
    </div>
  </div>
  <div class='container'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Terms and Conditions</h3>
      </div>
      <div class="panel-body">
        <p>Cocoa.dog can only send pictures to phone numbers in the United States</p>
        <p>Standard text messaging charges may apply. Cocoa.dog is not responsible for any charges that appear on your phone bill.</p>
        <p>We do not store any Credit Card information and we never see your credit card information. All transactions are processed through <%= link_to 'Stripe', 'http://stripe.com' %>.</p>
        <p>I hope to have bitcoin as a payment method soon.</p>
        <p>Email <%= mail_to 'cocoa-dog@mail.com' %> with any problems, questions, comments, etc. and I will respond as soon as possible.</p>
      </div>
    </div>
  </div>
</center>

<script>
  $(document).ready(function() {
    $('.sms_phone_number').mask('(000) 000-0000')
  });
</script>